* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}

main {
  width: 960px;
  margin: 0 auto;
}

.list {
  width: 960px;
  height: auto;
  margin: 50px 0px;
  text-align: left;
  color: black;
}

.list_contents {
  list-style: none;
  width: 960px;
  height: auto;
  padding: 20px 0px;
}

.gray {
  background-color: #cccccc;
}

.white {
  background-color: white;
}

.color_world {
  width: 960px;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.box_contents {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: #ffd700;
}

.right {
  margin-right: 0%;
}

.bottom {
  margin-bottom: 0px;
}

.darkorange {
  background-color: darkorange;
}